<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SISTEMA CONTABLE | EL COPINOL</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Yo, ps quién mas? :v" />
	<link rel="shortcut icon" href="">
	<!-- food icons -->
	<link rel="stylesheet" href="{% static 'css/organicfoodicons.css' %}">
	<!-- demo styles -->
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<!-- menu styles -->
	<link rel="stylesheet" href="{% static 'css/component.css' %}">
	<!-- bootstrap styles -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="{% static 'js/modernizr-custom.js' %}"></script>
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/dummydata.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
</head>

<body>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<div class="dummy-icon foodicon foodicon--coconut"></div>
				<h2 class="dummy-heading">SISTEMA CONTABLE</h2>
			</div>
			<div class="bp-header__main">
				<h3>El Copinol</h3>
			</div>
		</header>
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="INICIO">
					<li class="menu__item" role="menuitem"><a class="menu__link" id="catalogoCuentas" href="">Catalogo de cuentas</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">Contabilidad General</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Contabilidad de Costos</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-4" aria-owns="submenu-4" href="#">Periodo Contable</a></li>
				</ul>
				<!-- Submenu 1 -->
				
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Contabilidad General">
					<li class="menu__item" role="menuitem"><a class="menu__link" id="agregarTransaccion" href="">Agregar Transacción</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Consultar transacción</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Consultar estados de subcuentas</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Generar estados financieros</a></li>
				</ul>
				<!-- Submenu 3 -->
				<ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Grains">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Adquisición de Materia Prima</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">KARDEX</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Planilla General de Empleados</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Contratación de Empleados</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3-1" aria-owns="submenu-3-1" href="#">Manejo de Ordenes</a></li>
				</ul>
				<!-- Submenu 3-1 -->
				<ul data-menu="submenu-3-1" id="submenu-3-1" class="menu__level" tabindex="-1" role="menu" aria-label="Manejo de Ordenes">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Crear Orden</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Asignación Materia Prima</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Asignación Mano de Obra</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Manejo de Producto Terminado</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Consulta de Producto Terminado</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Manejo de Planilla Por Orden</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">CIF</a></li>
				</ul>
				<!-- Submenu 4 -->
				<ul data-menu="submenu-4" id="submenu-4" class="menu__level" tabindex="-1" role="menu" aria-label="Periodo Contable">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Crear Nuevo Periodo Contable</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="#">Cerrar Periodo Actual</a></li>
				</ul>
			</div>
		</nav>
		<div class="content" id="content">
			<p class="info">Por favor, seleccione una accion</p>
			<!-- Ajax loaded content here -->
		</div>
	</div>
	<!-- /view -->
	
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				 breadcrumbsCtrl : true, // show breadcrumbs
				 initialBreadcrumb : 'INICIO', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				//onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}

		// simulate grid content loading
		/*var gridWrapper = document.querySelector('.content');

		function loadDummyData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '';
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
				classie.remove(gridWrapper, 'content--loading');
				gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
			}, 700);
		}*/
	})();
	</script>
</body>

</html>